h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#f8f, #88f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    background-color: black;
    color: white;

}

img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    margin: 16px;
}

#date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 16px;
    border: 1px solid white;
    margin: 16px;
}
