h1 {
  font-size: 72px;
  font-weight: 200;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1rem;
  background: -webkit-linear-gradient(#f8f, #88f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    margin: 0;
}

#date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    margin: 16px;
}
